<style>
.pcount{width:10%;}
.pitem{ border-style: none solid solid;
    border-width: medium 1px 1px;
    float: left;
    padding: 5px;
    width: 20%;
}
label {
    clear: both;
    float: left;
    margin: 20px 0;
    width: 25%;
}
input, select, textarea {
    margin: 20px 0;
    width: 30%;
}
input[type="radio"], input[type="submit"] {
  width:auto
}
</style>
